project:
  output-dir: _output

execute: 
  echo: false

lang: de
number-depth: 3
number-sections: true
bibliography: bcd-bausteine-statistik.bib

filters: 
  - latex-environment
commands: [neuerbegriff]
environments: [definition, beispiel, center, multicols]

format: 
  html: 
    css: bcd-style-notes.css
    license: CC BY-SA
    default-image-extension: svg
  pdf:
    include-in-header:
      - bcd-macros.tex
      - text: |
          \usepackage{makeidx}
          \usepackage{multicol}
          \makeindex
    include-after-body:
      text: |
        \printindex
    default-image-extension: pdf
